<%- include("partials/header.ejs") %>
<%- include("partials/navigation.ejs") %>

<section id="home-heading">
    <div class="container col-xxl-8 px-4">
        <div class="row">
            <div class="col-12">
                <h1>Expert Healthcare in the UK</h1>
            </div>
        </div>
    </div>
</section>

<section id="hero">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg align-items-center g-5 py-5">
            <div class="col-sm-8 col-xs-12">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Find a Doctor quickly and easily</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br/> A recusandae veniam, autem fugiat voluptatum aliquid, sequi, et sapiente cupiditate voluptates quos tempore minima vero.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="fmsz3c">Get started</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="805uo">Something else</button>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="./images/10373356-mature-doctor-smiling-in-lab-coat-in-his-room.jpg" class="d-block mx-lg-auto img-fluid" alt="Doctor" width="200" loading="lazy">
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>