/* .gradient-background {
    background: linear-gradient(30deg, #0174BE, #FFF0CE, #0C356A);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/* Navigation */
.navbar{
    background-color: #525FE1;
}

.nav-item > a {
    white-space: nowrap;
    color: white;
}


/* global */
h1 {
    font-family: 'GFS Didot', serif;
}

h2 {
    font-family: 'GFS Didot', serif;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


/* home */
#hero img {
    border-radius: 35%;
}

#home-heading {
    background-color: #FFA41B;
    color: white
}

@media (max-width: 576px) {
    #hero img {
        width:0px;
    }
}

/* doctor page */
.profile-photo {
    border-radius: 50%;
}

/* footer */
#footer {
    background-color: #FFF6F4;
    border-top: solid  #FFA41B 2px;
}
